.columnH1{
    margin-left: 12%;
    margin-top: 2%;
    /* border:  red solid 2px; */
    justify-items: center;
    display: flex;    
}
.columnH2{
    margin-left: 45%;
    /* border: red solid 2px; */
    padding: 17px;
}
.centro{
    /* border: red solid 2px; */
    margin-left: 13%;
    margin-top: 23px;
    padding-right: 12%;
    text-align: justify;
}
.centro2{
    margin-left: 13%;
    margin-top: 23px;
    padding-right: 12%;
    text-align: center;
}
.centro3{
    border-top: gray solid 2px;
    margin-left: 13%;
    margin-right: 13%;
    /* padding-right: 12%; */
    text-align: justify;
}