{% extends "base.html" %}
{% block content %}
<style>
    body {
        background-image: url('../static/imagens/fundo2.png');
    }
</style>
    <div class="columnH1">
        <img src="../static/imagens/logo.png" alt="logo">
        <scan class="columnH2">
            <a href="/">Home</a> | <a href="/quem">Quem Somos</a> | <a href="">Contato</a>
        </scan>
    </div>
    <br>
    <div class="centro">
        <p style="font-size: 20px;"><b>Entre em contato</b></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus impedit neque tempora quod.</p>
    </div>
    <div class="centro3">
        <p>
            <label for="textbox">Seu e-mail:</label><br>
            <input type="text" id="textbox" name="input">
            <br>
            <label for="textbox">Nome:</label><br>
            <input type="text" id="textbox" name="input">
            <br>
            <label for="descr">Descrição:</label><br>
            <textarea id="descr" name="message" cols="20" rows="3"></textarea><br>
            <button type="submit">Enviar</button>
        </p>
    </div>
    <div class="centro2">
        <p><b>Todos os direitos reservados</b></p>
    </div>
{% endblock %}