{% extends "base.html" %}
{% block content %}
    <div class="columnH1">
        <img src="../static/imagens/logo.png" alt="logo">
        <scan class="columnH2">
            <a href="">Home</a> | <a href="/quem">Quem Somos</a> | <a href="/contact">Contato</a>
        </scan>
    </div>
    <div class="centro">
        <img src="../static/imagens/capa.png" alt="capa">
        <p>
            <b>Sobre a Universidade</b>
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nostrum beatae libero voluptates corrupti omnis reiciendis aut quam dolores, eveniet consectetur voluptate laborum eligendi id vero. Eligendi, possimus aspernatur. Magnam?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus fuga adipisci dolores vero, illo praesentium error, vitae, quasi harum cum quos natus non? Accusantium accusamus non magni alias consequuntur fuga!
        </p>
        <p>
            Lipsum dolor sit amet consectetur adipisicing elit. Veniam eaque doloribus deserunt eius, perferendis ducimus commodi cupiditate soluta quam iure et doloremque laudantium autem debitis beatae, nobis sint minus assumenda! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus molestiae, architecto quos autem numquam repellendus repellat debitis officia eligendi veritatis quo quidem voluptas voluptatibus beatae asperiores rerum id sed maiores.
        </p>
    </div>
    <div class="centro2">
        <b>Todos os direitos reservados</b>
    </div>
{% endblock %}